
:root {
  --tp-common-white: #ffffff;
  --tp-common-black: #000;
  --tp-common-gray: #FEF3DF;
  --tp-theme-primary: rgb(255, 95, 20);
  --tp-theme-secondary:  #5098c7;
  --tp-theme-1: rgb(10, 18, 41);
  --tp-theme-2: #F94D1C;
  --tp-theme-3: #1B2335;
  --tp-theme-4: #2c2a2a;
  --tp-heading-primary:  #2c2a2a;
  --tp-heading-secondary: #1F242C;
  --tp-heading-1: #2B2B5E;
  --tp-heading-2: #010d14;
  --tp-text-body: rgb(86, 89, 105);
  --tp-text-1: #E3E3E3;
  --tp-text-2: #f8f8f8;
  --tp-border-primary: #FEF3DF;
  --tp-border-secondary: #F0F2F4;
  --tp-border-1: #e6ebf0;
}

section {
  scroll-margin-top: 50px;
}


.tp-section-title {
    font-size: 40px;
    color: var(--tp-theme-primary);
}
/* .tp-section-title:hover {
    color: var(--tp-heading-primary);
} */
.tp-btn {
    padding: 10px 20px;
    border-radius: 6px;
}
.tp-page-wrapper {
    margin-bottom: 0%;
}
.dvd {
    display: inline-block;
    padding: 0 2px;
    color: var(--tp-common-white);
}

/* Header */
.tp-int-menu.tp-header-pinned {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.tp-header-top,
.tp-header-top.hidden {
  display: none !important;
}
.tp-header-top-info a:hover,
.tp-header-top-info a:hover span i {
    color: var(--tp-theme-1);
}
.tp-header-top-right-color {
    padding: 5px 10px 5px 20px;
}
.tp-main-menu ul li a {
    display: inline-block;
    font-size: 14px;
    padding: 20px 0 20px 0;
    color: var(--tp-theme-1);
}
.tp-main-menu ul li:hover > a {
    color: var(--tp-theme-primary);
}
.offcanvas__close-btn {
    right: 7.5%;
    top: 5%;
}
.tp-header-btn .tp-btn {
    font-size: 14px;
    padding: 8px 16px;
}

/* Hero Section */
#showcase-slider-holder,
.showcase-slider-wrappper,
.parallax-slider-active .swiper-slide {
    height: 680px;
}
.tp-hero-content {
    padding-top: 35%;
}
.tp-hero-5-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    z-index: 1;
}
.tp-hero-5-bg span {
    position: fixed;
    top: 50%;
    left: 7.5%;
    transform: translateY(-50%);
    height: 35vh;
    width: 35vw;
    border-radius: 12px;
    opacity: 0;
    background: var(--tp-common-black);
    z-index: -1;
    clip-path: none;
}
.tp-hero-5-bg::after {
    display: none;
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 433px;
    width: 590px;
    clip-path: polygon(87.14% -10px, 100.42% 0px, 75px 105.31%);
}
.tp-hero-title {
    font-size: 35px;
    font-weight: 300;
    margin-bottom: 25px;
    line-height: normal;
    letter-spacing: normal;
    width: 50%;
    padding: 20px 10px;
   
}


.tp-hero-title {
  background-color: rgba(255, 255, 255, 0.2); 
  /* padding: 5px; */
  border-radius: 8px;
  display: inline-block;
}


.tp-hero-btn-wrap {
    display: none;
}

/* About */
.tp-about-3-thumb .shape-1 {
    top: 250px;
}
.tp-about-3-title-wrapper p {
    margin-bottom: 2.5%;
}
.tp-about-3-shape .shape-1 {
    display: none;
}

/* Why Choose Us VSB Group Tabs */
.tp-feature-tab-btn .nav-pills .nav-item {
    width: 500px;
}
.tp-feature-tab-btn .nav-pills .nav-item:not(:last-of-type) {
    margin-bottom: 5%;
}
.tp-feature-tab-btn .nav-pills .nav-item .nav-link {
    padding: 20px;
}
.tp-feature-tab-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}
.tp-feature-tab-box {
    display: none;
}

/* Projects Stones Collection */
.tp-project-6-content {
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
}
.tp-project-6-title {
    font-size: 16px;
}
.tp-project-6-btn {
    font-size: 20px;
    height: 30px;
    width: 30px;
    line-height: 24px;
}
.tp-project-6-item:hover .tp-project-6-content {
    bottom: 10px;
}

/* Quartz & Granite Slider-area */
.quartz-granite-slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.quartz-granite-slider .swiper {
    width: 100%;
    max-width: 400px;
    height: auto;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.quartz-granite-slider .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
}
.quartz-granite-slider .swiper-slide img {
    width: 100%;
    height: 100%;
    max-height: 600px;
    object-fit: fill;
    display: block;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}
.quartz-granite-slider .label {
    text-align: center;
    font-size: 16px;
    margin-top: 5%;
    font-weight: bold;
}
.quartz-granite-slider .label .tp-btn {
    cursor: pointer;
}


/* Blog Page */
.tp-blog-2-content {
    padding: 15px 15px 20px;
}
.tp-blog-2-title {
    font-size: 20px;
    min-height: 70px;
    margin-bottom: 5%;
    color: var(--tp-heading-primary);
}
.tp-blog-2-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 5%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tp-blog-2-thumb img {
    height: auto;
}
.tp-blog-2-content .tp-icon-style {
    padding: 8px 22px;
    border: 1px solid var(--tp-text-body);
    margin-top: 2.5%;
    border-radius: 6px;
}
.tp-blog-2-content:hover .tp-icon-style {
    border: 1px solid var(--tp-theme-primary);
    color: var(--tp-theme-primary);
}
.tp-blog-pagination ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}
.tp-blog-pagination ul li a {
    position: relative;
    font-size: 14px;
    font-weight: 700;
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 37px;
    text-align: center;
    border-radius: 50%;
    color: var(--tp-theme-secondary);
    background: var(--tp-text-2);
    -webkit-transition: all 0.3s 0s ease-out;
    -moz-transition: all 0.3s 0s ease-out;
    -ms-transition: all 0.3s 0s ease-out;
    -o-transition: all 0.3s 0s ease-out;
    transition: all 0.3s 0s ease-out;
    z-index: 1;
}
.tp-blog-pagination ul li a.active {
    color: var(--tp-common-white);
    background: var(--tp-theme-secondary);
}
.tp-blog-pagination ul li a:hover {
    color: var(--tp-common-white);
    background: var(--tp-theme-secondary);
}

/* Counter area */
.tp-counter-wrapper {
    margin: 0% !important;
}
.tp-counter-item {
    padding: 15%;
}
.tp-counter-item-content p {
    color: var(--tp-theme-primary);
    margin-bottom: 0;
    font-weight: 400;
}

/* CTA area */
.tp-contact-area {
    border-bottom: 4px solid var(--tp-theme-primary);
}
.tp-contact-area .cta-ribbon {
    background: var(--tp-theme-primary);
    position: absolute;
    margin: -12px 0 0 0;
    padding: 6px 20px;
    border-radius: 0px 6px 6px;
    /* bottom: -12.5%; */
}
.tp-contact-area .cta-ribbon:before {
    border-left-color: var(--tp-theme-primary);
    border-right: 10px solid var(--tp-theme-primary);
    border-top: 17px solid transparent;
    content: "";
    display: block;
    height: 0;
    right: 100%;
    position: absolute;
    top: 0;
    width: 7px;
}
.tp-contact-area .cta-ribbon span {
    color: var(--tp-common-white);
    font-size: 16px;
    font-weight: 500;
}

/* Footer */
.tp-footer-img-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
}
.tp-footer-bg::after {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #b1daf0;
}
.tp-footer-main {
    padding-bottom: 0.5%;
}
.tp-footer-widget-title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5%;
    color: var(--tp-theme-primary);
}
.tp-footer-widget-content p,
.tp-footer-widget-content ul li a,
.tp-footer-copyright-inner p {
    color: var(--tp-common-white);
}
.tp-footer-widget-contact ul li a::before {
    display: none;
}
.tp-footer-widget-contact ul li a:hover {
    margin-left: 0%;
    color: var(--tp-theme-primary) !important;
}
.tp-footer-widget-content ul li a:hover {
    color: var(--tp-common-white);
}
.tp-footer-widget-content ul li a::before {
    border: 1px solid var(--tp-theme-primary);
    background-color: var(--tp-theme-primary);
}
.tp-footer-widget-contact ul li a img,
.tp-footer-widget-contact ul li a:hover img {
    margin-right: 2.5%;
}
.tp-footer-widget-contact ul li a i {
    color: var(--tp-theme-primary);
}
.tp-footer-widget-social a,
.tp-footer-widget-social a::after {
    border-radius: 6px;
    background-color: transparent;
}
.tp-footer-copyright {
    padding-top: 1.5%;
    padding-bottom: 1%;
}
.tp-footer-copyright-inner span,
.tp-footer-copyright-inner a {
    color: var(--tp-theme-primary);
    font-weight: 800;
}
.tp-footer-copyright-inner a:hover {
    color: var(--tp-theme-secondary);
}

/* Other Pages */
.tp-breadcrumb__title {
    font-size: 40px;
}
.tp-breadcrumb-nav-list {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 2.5% 0;
}
.tp-breadcrumb-nav-list li {
    list-style: none;
    margin: 0px 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.2;
    color: var(--tp-theme-4);
}
.tp-breadcrumb-nav-list li:first-child {
    margin-left: 0;
}
.tp-breadcrumb-nav-list li a {
    color: var(--tp-heading-primary);
    text-decoration: none;
}
.tp-breadcrumb-nav-list li:hover a {
    color: var(--tp-theme-primary) !important;
}

/* About Page */
.tp-offer-2-item {
    padding: 5%;
}
.tp-offer-2-icon span {
    font-size: 50px;
    margin-bottom: 2.5%;
}
.tp-offer-2-title {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 2.5%;
}
.tp-offer-2-item p {
    text-align: justify;
    margin-bottom: 2.5%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Contact Page */
.tp-contact-wrapper {
    padding: 5%;
}
.tp-contact-input .nice-select {
    font-size: 16px;
    font-weight: 400;
    height: 60px;
    color: #565969;
    background-color: rgb(248, 248, 248);
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.tp-contact-input .nice-select:focus {
    border: 1px solid var(--tp-theme-primary);
}
.nice-select {
    outline: none;
    background-color: #fff;
    height: 60px;
    width: 100%;
    line-height: 60px;
    font-size: 14px;
    color: var(--tp-common-black);
    padding-left: 26px;
    padding-right: 26px;
    border: 1px solid #E0E2E3;
}
.nice-select.open .list {
    width: 100%;
}
.tp-map-content {
    width: 100%;
    height: 500px;
}
.tp-contact-box {
    margin-bottom: 5%;
}
.tp-contact-item {
    padding: 5%;
    min-height: 280px;
}
.tp-map-content iframe {
    filter: none;
}

/* Blogs Page */
.tp-postbox-title {
    font-size: 20px;
}


/* Responsiveness */
@media only screen and (max-width: 991px) {
    .tp-header-main {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
    }
    .tp-page-wrapper {
        margin-bottom: 0%;
    }
    .tp-feature-tab-content {
        padding: 5% 0%;
    }
}
@media only screen and (max-width: 768px) {
    .tp-contact-area .cta-ribbon {
        bottom: -10%;
    }
    .quartz-granite-slider .swiper {
        width: 100%;
        height: 300px;
    }

}
@media only screen and (max-width: 575px) {
    .tp-section-title {
        font-size: 30px;
    }
    .tp-section-title-pre {
        line-height: 24px;
        margin-bottom: 0px;
    }
    .tp-hero-content {
        padding-top: 25%;
    }
    .tp-hero-title {
        font-size: 30px;
        margin-bottom: 15px;
    }
    .tp-hero-btn-wrap {
        display: block;
    }
    .tp-contact-area .cta-ribbon {
        bottom: -6%;
    }
    .tp-footer-copyright {
        text-align: center;
    }
}



.tp-btn:hover {
    color: var(--tp-common-white);
    background: #999898;
}


.tp-hero-title-wrapper span{
    /* color: black; */
    color: var(--tp-theme-primary);
    font-weight: 600;
    /* text-align: end; */
}

.tp-btn:hover{
    background-color: #999898 !important;
}


#certifications-logos{
    display: flex;
    align-items: center;
}
#certifications-logos li{
    list-style: none;
}
#certifications-logos li a img{
    height: 80px;
}

#main-logo {
    display: flex;
    justify-content: space-around;
}
#main-logo .tp-footer-logo img{
    width: 150px;
    height: 65px;
}

#footer-contact-links li a {
    color: black !important;
}

.images-aligen {
    display: flex;
    justify-content: center;
    align-items: center !important;
}

.tp-footer-widget-content ul li:not(:last-of-type)
 {
    margin-bottom: 0px;
}


#footer-contact-links li a img {
    height: 30px;
    margin-bottom: 10px;
}


.tp-offer-item-thumb img {
    transition: transform 0.5s ease;
}
.tp-offer-item-thumb:hover img {
    transform: scale(1.05);
}
      
.tp-offer-item:hover {
    background: none !important;
}

.swiper-pagination-bullet {
  background: none ; 
  opacity: 0 !important;
}

#about-us-2 .tp-offer-item {
    position: relative;
    padding: 2px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 80px 0px rgba(0, 8, 21, 0.04);
}