
:root {
    --tp-theme-primary: #5098c7;
    --tp-theme-secondary: #459cd6;
    /* --tp-theme-1: #0a1229; */
    --tp-theme-2: #b1daf0;
    /* --tp-theme-3: #1B2335; */
    --tp-theme-4: #2c2a2a;
}
.tp-section-title {
    font-size: 40px;
}

/* Header */
.tp-int-menu.tp-header-pinned {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: #fff;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.tp-header-top.hidden {
  display: none !important;
}
.tp-header-top-info a:hover,
.tp-header-top-info a:hover span i {
    color: var(--tp-theme-1);
}
.tp-header-top-right-color {
    padding: 5px 10px 5px 20px;
}
.tp-main-menu ul li a {
    display: inline-block;
    padding: 28px 0 28px 0;
}
.tp-main-menu ul li:hover > a {
    color: var(--tp-theme-1);
}
.tp-header-top-info a:hover,
.tp-header-top-info a:hover span i {
    color: var(--tp-theme-1);
}
.tp-header-top-right-color {
    padding: 5px 10px 5px 20px;
}
.tp-main-menu ul li a {
    display: inline-block;
    padding: 28px 0 28px 0;
}
.tp-main-menu ul li:hover > a {
    color: var(--tp-theme-1);
}
.offcanvas__close-btn {
    right: 7.5%;
    top: 5%;
}

/* Hero Section */
#showcase-slider-holder,
.showcase-slider-wrappper,
.parallax-slider-active .swiper-slide {
    height: 680px;
}
.tp-hero-content {
    padding-top: 25%;
}
.tp-hero-5-bg {
    width: 65%;
}
.tp-hero-5-bg::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 433px;
    width: 290px;
    clip-path: polygon(87.14% -10px, 100.42% 0px, 75px 105.31%);
}
.tp-hero-title {
    font-size: 60px;
    margin-bottom: 25px;
    line-height: 1.15;
}

/* Get Quote */
.tp-quote-shape {
    position: absolute;
    bottom: 7.5%;
    right: 5%;
    z-index: 1;
}
.tp-quote-shape img {
    width: auto;
    max-width: 200px;
}
.tp-quote-wrapper p {
    text-align: justify;
}
.tp-quote-thumb-wrapper {
    position: relative;
    padding-top: 0px;
    padding-left: 25px;
}
.tp-quote-thumb-wrapper img {
    max-width: 100%;
}
.tp-quote-thumb-wrapper span {
    position: absolute;
    top: 7.5%;
    left: 5%;
    display: inline-block;
    width: 6px;
    height: 424px;
    z-index: 0;
    background: var(--tp-theme-primary);
}

/* Blog */
.tp-blog-2-content {
    padding: 15px 15px 20px;
}
.tp-blog-2-title {
    font-size: 22px;
    margin-bottom: 5%;
}
.tp-blog-2-thumb img {
    height: auto;
}


/* Footer */
.tp-footer-main {
    padding-bottom: 2.5%;
}
.tp-footer-widget-contact ul li a::before {
    display: none;
}
.tp-footer-widget-contact ul li a:hover {
    margin-left: 0%;
}
.tp-footer-widget-contact ul li a i,
.tp-footer-widget-contact ul li a:hover i {
    margin-right: 2.5%;
}
.tp-footer-copyright {
    padding-top: 1.5%;
    padding-bottom: 1%;
}